@import '../basics.scss';

.testimonial {
  text-align: center;
  margin: 10rem 0;

  .container {
    background-image: linear-gradient(90deg, #309292, #6c8686);
    padding: 4rem;

    .testimonial-wrapper {
      margin: 0 auto;
      background-color: #fff;  
      padding: 3rem .8rem;

      @include tablets {
        width: 70%;
      }
      
      img {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
      }
  
      h4 {
        margin: 1rem 0;
        font-size: 1.8rem;
      }
  
      p {
        color: #aeaeb6;
        font-size: 1.6rem;
        font-style: italic;
      }
    }
  }
}