.products-features-page {
  header {
    padding-top: 6rem;
  }

  h2 {
    text-align: center;
  }

  .selected {
    margin-bottom: 6rem;
  }

  .selected-products {
    flex-wrap: wrap;
    justify-content: center;
  }
}